spring:
  application:
    name: sogong
  output:
    ansi:
      enabled: always # 콘솔 색상 변경
  profiles:
    active: test
  thymeleaf:
    cache: false
    prefix: file:src/main/resources/templates/ # 템플릿 파일 경로
  datasource:
    url: jdbc:h2:./db_dev;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
    hikari:
      auto-commit: false
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update # DB 테이블 자동생성

server:
  port: 8080
